$gray_color: #DCDCDC;

$small_space: 8px;
$medium_space: 16px;
$large_space: 24px;

.card{
  width: 100%;
  border-radius: $large_space;
  border: 0.08rem solid black;

  h2{
    margin: $medium_space;
  }

  p{
    font-size: 16px;
  }

  img{
    width: 100px;
    height:100px
  }

  .id_and_name{
    display: flex;
    justify-content: left;
    margin: $small_space;
  }

  .type-container{
    display: flex;
  }

  .type{
    text-align: center;
    background-color: $gray_color;
    padding: $small_space;
    margin: $small_space;
    border-radius: $large_space;
    border: 0.08rem solid black;
  }

  .isFavorite{
    height: 10px;
  }
}
