<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Filtrer
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngFor="let type of pokemonType">
          <button ngbDropdownItem (click)="filterListOfPokemonByType(type)">
            {{ type }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<div *ngFor="let filter of filters">
  <div class="filter">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      id="{{ filter }}"
      (click)="removeFilter(filter)"
    ></button>
    <label for="{{ filter }}">{{ filter }}</label>
  </div>
</div>

<br />

<div *ngFor="let pokemon of pokemonsList">
  <div class="card" [routerLink]="['/pokemon', pokemon.name]">
    <div *ngIf="pokemonsList; then show_pokemon; else loader"></div>
    <ng-template #show_pokemon>
      <div>
        <div class="id_and_name">
          <h2>{{ pokemon.id }}</h2>
          <h2>
            {{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) }}
          </h2>
        </div>
        <div class="type-container">
          <p class="type" *ngFor="let type of pokemon.types">
            {{ type.type.name }}
          </p>
        </div>
      </div>
      <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
    </ng-template>
    <ng-template #loader>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
  </div>
</div>
