$gray_color: #dcdcdc;

$small_space: 8px;
$medium_space: 16px;
$large_space: 24px;

.quick_pokemon_overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .center_elements {
    text-align: center;
  }
}

.description {
  margin: $medium_space;
}
